In [1079]:
#Importing libraries and file

import pandas as pd
import numpy as np
from numpy import nan
# import re

play=pd.read_csv("D:\playstore_Live_Project\playstoreliveproj\playstore_apps.csv")
play

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,10000.0,Free,0.0,Everyone,Art & Design,07-01-2018,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14M,500000.0,Free,0.0,Everyone,Art & Design;Pretend Play,15-01-2018,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8.7M,5000000.0,Free,0.0,Everyone,Art & Design,01-08-2018,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,25M,50000000.0,Free,0.0,Teen,Art & Design,08-06-2018,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.8M,100000.0,Free,0.0,Everyone,Art & Design;Creativity,20-06-2018,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38.0,53M,5000.0,Free,0.0,Everyone,Education,25-07-2017,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4.0,3.6M,100.0,Free,0.0,Everyone,Education,06-07-2018,1,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3.0,9.5M,1000.0,Free,0.0,Everyone,Medical,20-01-2017,1,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114.0,Varies with device,1000.0,Free,0.0,Mature 17+,Books & Reference,19-01-2015,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307.0,19M,10000000.0,Free,0.0,Everyone,Lifestyle,25-07-2018,Varies with device,Varies with device

# Removing Duplicates Values from the dataset

In [1080]:
play.drop_duplicates(subset=None,keep="first", inplace=True, ignore_index=False)
play.info()
play.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10358 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10358 non-null  object
 1   Category        10358 non-null  object
 2   Rating          8893 non-null   float64
 3   Reviews         10357 non-null  float64
 4   Size            10358 non-null  object
 5   Installs        10357 non-null  float64
 6   Type            10357 non-null  object
 7   Price           10357 non-null  float64
 8   Content Rating  10357 non-null  object
 9   Genres          10358 non-null  object
 10  Last Updated    10357 non-null  object
 11  Current Ver     10350 non-null  object
 12  Android Ver     10355 non-null  object
dtypes: float64(4), object(9)
memory usage: 1.1+ MB

(10358, 13)

In [1081]:
#Lets Check unique values
print(play.nunique())

App               9660
Category            34
Rating              40
Reviews           6001
Size               462
Installs            20
Type                 3
Price               92
Content Rating       6
Genres             120
Last Updated      1377
Current Ver       2784
Android Ver         33
dtype: int64

In [1082]:
#Cleaning App column
print(play["App"].unique())
print(play["App"].isnull().sum())
# play.drop_duplicates(subset=['App'])
# print(play['App'].nunique())

['Photo Editor & Candy Camera & Grid & ScrapBook' 'Coloring book moana'
 'U Launcher Lite – FREE Live Cool Themes, Hide Apps' ...
 'Parkinson Exercices FR' 'The SCP Foundation DB fr nn5n'
 'iHoroscope - 2018 Daily Horoscope & Astrology']
0

#  Removing some special characters from the app names

In [1083]:
#Removing some special characters from the App column
play['App'] = play['App'].str.replace(r"\?","")
play['App'] = play['App'].str.replace(r"/","")
play['App'] = play['App'].str.replace(r":","")
play['App'] = play['App'].str.replace(r"^","")
play['App'] = play['App'].str.replace(r"%","")
play['App'] = play['App'].str.replace(r"]","")
play['App'] = play['App'].str.replace(r"[","")
play['App'] = play['App'].str.replace(r"(","")
play['App'] = play['App'].str.replace(r")","")
play['App'] = play['App'].str.replace(r"|","")
play['App'] = play['App'].str.replace(r"-","")
play['App'] = play['App'].str.replace(r"#","")
play['App'] = play['App'].str.replace(r"!","")
play['App'] = play['App'].str.replace(r"\â€“","")
play['App'] = play['App'].str.replace(r"Ã£","")
play['App'] = play['App'].str.replace(r"â","a")
play['App'] = play['App'].str.replace(r"„¢","")
play['App'] = play['App'].str.replace(r"Itâ€™s","")
play['App'] = play['App'].str.replace(r"Â®","")
play['App'] = play['App'].str.replace(r"Â·","")
play['App'] = play['App'].str.replace(r"â„¢","")
play['App'] = play['App'].str.replace(r"'","")
play['App'] = play['App'].str.replace(r"K@","")
play['App'] = play['App'].str.replace(r"FÃ¼","")
#Lets check one of the app name
play.loc[play['App']== "uapp"]

C:\Users\harsh\AppData\Local\Temp/ipykernel_17564/4254302581.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  play['App'] = play['App'].str.replace(r"\?","")
C:\Users\harsh\AppData\Local\Temp/ipykernel_17564/4254302581.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  play['App'] = play['App'].str.replace(r"^","")
C:\Users\harsh\AppData\Local\Temp/ipykernel_17564/4254302581.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  play['App'] = play['App'].str.replace(r"]","")
C:\Users\harsh\AppData\Local\Temp/ipykernel_17564/4254302581.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  play['App'] = play['App'].str.replace(r"[","")
C:\Users\harsh\AppData\Local\Temp/ipykernel_17564/4254302581.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  play['App'] = play['App'].str.replace(r"(","")
C:\Users\harsh\AppData\Local\Temp/ipykernel_17564/4254302581.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  play['App'] = play['App'].str.replace(r")","")
C:\Users\harsh\AppData\Local\Temp/ipykernel_17564/4254302581.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  play['App'] = play['App'].str.replace(r"|","")
C:\Users\harsh\AppData\Local\Temp/ipykernel_17564/4254302581.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  play['App'] = play['App'].str.replace(r"\â€“","")

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4636,uapp,COMMUNICATION,4.7,573.0,53M,10000.0,Free,0.0,Mature 17+,Communication,03-07-2018,4.2.4,4.1 and up

In [1084]:
play.loc[play['App']== " "]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
3750,,NEWS_AND_MAGAZINES,4.5,44274.0,8.0M,1000000.0,Free,0.0,Everyone,News & Magazines,06-08-2018,4.0.6,4.4 and up

In [1085]:
#As we have removed some special characters,now we need to check blank values
play.loc[play['Reviews']== 21777]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
85,CarMax – Cars for Sale Search Used Car Inventory,AUTO_AND_VEHICLES,4.4,21777.0,Varies with device,1000000.0,Free,0.0,Everyone,Auto & Vehicles,04-08-2018,Varies with device,Varies with device

In [1086]:
#Check irelevant name 
play.loc[play['App']== "#NAME"]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [1087]:
play.loc[play['Reviews']== 311]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9308,,NEWS_AND_MAGAZINES,4.8,311.0,14M,5000.0,Free,0.0,Everyone 10+,News & Magazines,15-07-2018,2.9.19a,4.2 and up

In [1088]:
#Lets drop above mentioned unrecognized app name rows
play.drop(index=3750,inplace=True)
play.drop(index=9308,inplace=True)
play.drop(index=324,inplace=True)
play.drop(index=8884,inplace=True)

In [1089]:
# Lets check the deleted rows
play.loc[play['App']== " "]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [1090]:
play.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10354 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10354 non-null  object
 1   Category        10354 non-null  object
 2   Rating          8890 non-null   float64
 3   Reviews         10353 non-null  float64
 4   Size            10354 non-null  object
 5   Installs        10353 non-null  float64
 6   Type            10353 non-null  object
 7   Price           10353 non-null  float64
 8   Content Rating  10353 non-null  object
 9   Genres          10354 non-null  object
 10  Last Updated    10353 non-null  object
 11  Current Ver     10346 non-null  object
 12  Android Ver     10351 non-null  object
dtypes: float64(4), object(9)
memory usage: 1.1+ MB

In [1091]:
#Cleaning Category column

play["Category"].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [1092]:
a=play.loc[play['Category']=='1.9']
a

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WIFi Touchscreen Photo Frame,1.9,19.0,NaN,"1,000+",NaN,0,NaN,NaN,"February 11, 2018",NaN,4.0 and up,NaN

In [1093]:
play.drop(index=10472,inplace=True)#Remove irrelevant data

In [1094]:
print(play["Category"].unique())#Check data

['ART_AND_DESIGN' 'AUTO_AND_VEHICLES' 'BEAUTY' 'BOOKS_AND_REFERENCE'
 'BUSINESS' 'COMICS' 'COMMUNICATION' 'DATING' 'EDUCATION' 'ENTERTAINMENT'
 'EVENTS' 'FINANCE' 'FOOD_AND_DRINK' 'HEALTH_AND_FITNESS' 'HOUSE_AND_HOME'
 'LIBRARIES_AND_DEMO' 'LIFESTYLE' 'GAME' 'FAMILY' 'MEDICAL' 'SOCIAL'
 'SHOPPING' 'PHOTOGRAPHY' 'SPORTS' 'TRAVEL_AND_LOCAL' 'TOOLS'
 'PERSONALIZATION' 'PRODUCTIVITY' 'PARENTING' 'WEATHER' 'VIDEO_PLAYERS'
 'NEWS_AND_MAGAZINES' 'MAPS_AND_NAVIGATION']

In [1095]:
#Cleaning for Rating column

print(play["Rating"].unique())#unique values for rating
print(play["Rating"].isnull().sum())#Check total null values
print(play["Rating"].fillna(method="pad",inplace=True))#Filled nan values with previous values

[4.1 3.9 4.7 4.5 4.3 4.4 3.8 4.2 4.6 3.2 4.  nan 4.8 4.9 3.6 3.7 3.3 3.4
 3.5 3.1 5.  2.6 3.  1.9 2.5 2.8 2.7 1.  2.9 2.3 2.2 1.7 2.  1.8 2.4 1.6
 2.1 1.4 1.5 1.2]
1464
None

Here,in rating column we have filled nan values with previous values.

In [1096]:
print(play["Rating"].isnull().sum())#Check null values again

0

In [1097]:
#Cleaning for Reviews column

play['Reviews'] = play['Reviews'].astype(int)#Converted data type from float to integer
print(play["Reviews"].unique())
play["Reviews"].isnull().sum()

[   159    967  87510 ...    603   1195 398307]

0

In [1098]:
#Cleaning for Size column
print(play["Size"].unique())
play.loc[play["Size"]=="Varies with device"]
# print(play["Rating"].replace("Varies with device","0",inplace = True))
play["Size"].replace(["Varies with device"], "Unavailable", inplace=True)#Replaced with zero
# print(play["Size"].fillna(method="pad",inplace=True))#filled nan values with previous values

['19M' '14M' '8.7M' '25M' '2.8M' '5.6M' '29M' '33M' '3.1M' '28M' '12M'
 '20M' '21M' '37M' '2.7M' '5.5M' '17M' '39M' '31M' '4.2M' '7.0M' '23M'
 '6.0M' '6.1M' '4.6M' '9.2M' '5.2M' '11M' '24M' 'Varies with device'
 '9.4M' '15M' '10M' '1.2M' '26M' '8.0M' '7.9M' '56M' '57M' '35M' '54M'
 '201k' '3.6M' '5.7M' '8.6M' '2.4M' '27M' '2.5M' '16M' '3.4M' '8.9M'
 '3.9M' '2.9M' '38M' '32M' '5.4M' '18M' '1.1M' '2.2M' '4.5M' '9.8M' '52M'
 '9.0M' '6.7M' '30M' '2.6M' '7.1M' '3.7M' '22M' '7.4M' '6.4M' '3.2M'
 '8.2M' '9.9M' '4.9M' '9.5M' '5.0M' '5.9M' '13M' '73M' '6.8M' '3.5M'
 '4.0M' '2.3M' '7.2M' '2.1M' '42M' '7.3M' '9.1M' '55M' '23k' '6.5M' '1.5M'
 '7.5M' '51M' '41M' '48M' '8.5M' '46M' '8.3M' '4.3M' '4.7M' '3.3M' '40M'
 '7.8M' '8.8M' '6.6M' '5.1M' '61M' '66M' '79k' '8.4M' '118k' '44M' '695k'
 '1.6M' '6.2M' '18k' '53M' '1.4M' '3.0M' '5.8M' '3.8M' '9.6M' '45M' '63M'
 '49M' '77M' '4.4M' '4.8M' '70M' '6.9M' '9.3M' '10.0M' '8.1M' '36M' '84M'
 '97M' '2.0M' '1.9M' '1.8M' '5.3M' '47M' '556k' '526k' '76M' '7.6M' '59M'
 '9.7M' '78M' '72M' '43M' '7.7M' '6.3M' '334k' '34M' '93M' '65M' '79M'
 '100M' '58M' '50M' '68M' '64M' '67M' '60M' '94M' '232k' '99M' '624k'
 '95M' '8.5k' '41k' '292k' '11k' '80M' '1.7M' '74M' '62M' '69M' '75M'
 '98M' '85M' '82M' '96M' '87M' '71M' '86M' '91M' '81M' '92M' '83M' '88M'
 '704k' '862k' '899k' '378k' '266k' '375k' '1.3M' '975k' '980k' '4.1M'
 '89M' '696k' '544k' '525k' '920k' '779k' '853k' '720k' '713k' '772k'
 '318k' '58k' '241k' '196k' '857k' '51k' '953k' '865k' '251k' '930k'
 '540k' '313k' '746k' '203k' '26k' '314k' '239k' '371k' '220k' '730k'
 '756k' '91k' '293k' '17k' '74k' '14k' '317k' '78k' '924k' '902k' '818k'
 '81k' '939k' '169k' '45k' '475k' '965k' '90M' '545k' '61k' '283k' '655k'
 '714k' '93k' '872k' '121k' '322k' '1.0M' '976k' '172k' '238k' '549k'
 '206k' '954k' '444k' '717k' '210k' '609k' '308k' '705k' '306k' '904k'
 '473k' '175k' '350k' '383k' '454k' '421k' '70k' '812k' '442k' '842k'
 '417k' '412k' '459k' '478k' '335k' '782k' '721k' '430k' '429k' '192k'
 '200k' '460k' '728k' '496k' '816k' '414k' '506k' '887k' '613k' '243k'
 '569k' '778k' '683k' '592k' '319k' '186k' '840k' '647k' '191k' '373k'
 '437k' '598k' '716k' '585k' '982k' '222k' '219k' '55k' '948k' '323k'
 '691k' '511k' '951k' '963k' '25k' '554k' '351k' '27k' '82k' '208k' '913k'
 '514k' '551k' '29k' '103k' '898k' '743k' '116k' '153k' '209k' '353k'
 '499k' '173k' '597k' '809k' '122k' '411k' '400k' '801k' '787k' '237k'
 '50k' '643k' '986k' '97k' '516k' '837k' '780k' '961k' '269k' '20k' '498k'
 '600k' '749k' '642k' '881k' '72k' '656k' '601k' '221k' '228k' '108k'
 '940k' '176k' '33k' '663k' '34k' '942k' '259k' '164k' '458k' '245k'
 '629k' '28k' '288k' '775k' '785k' '636k' '916k' '994k' '309k' '485k'
 '914k' '903k' '608k' '500k' '54k' '562k' '847k' '957k' '688k' '811k'
 '270k' '48k' '329k' '523k' '921k' '874k' '981k' '784k' '280k' '24k'
 '518k' '754k' '892k' '154k' '860k' '364k' '387k' '626k' '161k' '879k'
 '39k' '970k' '170k' '141k' '160k' '144k' '143k' '190k' '376k' '193k'
 '246k' '73k' '658k' '992k' '253k' '420k' '404k' '470k' '226k' '240k'
 '89k' '234k' '257k' '861k' '467k' '157k' '44k' '676k' '67k' '552k' '885k'
 '1020k' '582k' '619k']

In [1099]:
print(play["Size"].unique())

['19M' '14M' '8.7M' '25M' '2.8M' '5.6M' '29M' '33M' '3.1M' '28M' '12M'
 '20M' '21M' '37M' '2.7M' '5.5M' '17M' '39M' '31M' '4.2M' '7.0M' '23M'
 '6.0M' '6.1M' '4.6M' '9.2M' '5.2M' '11M' '24M' 'Unavailable' '9.4M' '15M'
 '10M' '1.2M' '26M' '8.0M' '7.9M' '56M' '57M' '35M' '54M' '201k' '3.6M'
 '5.7M' '8.6M' '2.4M' '27M' '2.5M' '16M' '3.4M' '8.9M' '3.9M' '2.9M' '38M'
 '32M' '5.4M' '18M' '1.1M' '2.2M' '4.5M' '9.8M' '52M' '9.0M' '6.7M' '30M'
 '2.6M' '7.1M' '3.7M' '22M' '7.4M' '6.4M' '3.2M' '8.2M' '9.9M' '4.9M'
 '9.5M' '5.0M' '5.9M' '13M' '73M' '6.8M' '3.5M' '4.0M' '2.3M' '7.2M'
 '2.1M' '42M' '7.3M' '9.1M' '55M' '23k' '6.5M' '1.5M' '7.5M' '51M' '41M'
 '48M' '8.5M' '46M' '8.3M' '4.3M' '4.7M' '3.3M' '40M' '7.8M' '8.8M' '6.6M'
 '5.1M' '61M' '66M' '79k' '8.4M' '118k' '44M' '695k' '1.6M' '6.2M' '18k'
 '53M' '1.4M' '3.0M' '5.8M' '3.8M' '9.6M' '45M' '63M' '49M' '77M' '4.4M'
 '4.8M' '70M' '6.9M' '9.3M' '10.0M' '8.1M' '36M' '84M' '97M' '2.0M' '1.9M'
 '1.8M' '5.3M' '47M' '556k' '526k' '76M' '7.6M' '59M' '9.7M' '78M' '72M'
 '43M' '7.7M' '6.3M' '334k' '34M' '93M' '65M' '79M' '100M' '58M' '50M'
 '68M' '64M' '67M' '60M' '94M' '232k' '99M' '624k' '95M' '8.5k' '41k'
 '292k' '11k' '80M' '1.7M' '74M' '62M' '69M' '75M' '98M' '85M' '82M' '96M'
 '87M' '71M' '86M' '91M' '81M' '92M' '83M' '88M' '704k' '862k' '899k'
 '378k' '266k' '375k' '1.3M' '975k' '980k' '4.1M' '89M' '696k' '544k'
 '525k' '920k' '779k' '853k' '720k' '713k' '772k' '318k' '58k' '241k'
 '196k' '857k' '51k' '953k' '865k' '251k' '930k' '540k' '313k' '746k'
 '203k' '26k' '314k' '239k' '371k' '220k' '730k' '756k' '91k' '293k' '17k'
 '74k' '14k' '317k' '78k' '924k' '902k' '818k' '81k' '939k' '169k' '45k'
 '475k' '965k' '90M' '545k' '61k' '283k' '655k' '714k' '93k' '872k' '121k'
 '322k' '1.0M' '976k' '172k' '238k' '549k' '206k' '954k' '444k' '717k'
 '210k' '609k' '308k' '705k' '306k' '904k' '473k' '175k' '350k' '383k'
 '454k' '421k' '70k' '812k' '442k' '842k' '417k' '412k' '459k' '478k'
 '335k' '782k' '721k' '430k' '429k' '192k' '200k' '460k' '728k' '496k'
 '816k' '414k' '506k' '887k' '613k' '243k' '569k' '778k' '683k' '592k'
 '319k' '186k' '840k' '647k' '191k' '373k' '437k' '598k' '716k' '585k'
 '982k' '222k' '219k' '55k' '948k' '323k' '691k' '511k' '951k' '963k'
 '25k' '554k' '351k' '27k' '82k' '208k' '913k' '514k' '551k' '29k' '103k'
 '898k' '743k' '116k' '153k' '209k' '353k' '499k' '173k' '597k' '809k'
 '122k' '411k' '400k' '801k' '787k' '237k' '50k' '643k' '986k' '97k'
 '516k' '837k' '780k' '961k' '269k' '20k' '498k' '600k' '749k' '642k'
 '881k' '72k' '656k' '601k' '221k' '228k' '108k' '940k' '176k' '33k'
 '663k' '34k' '942k' '259k' '164k' '458k' '245k' '629k' '28k' '288k'
 '775k' '785k' '636k' '916k' '994k' '309k' '485k' '914k' '903k' '608k'
 '500k' '54k' '562k' '847k' '957k' '688k' '811k' '270k' '48k' '329k'
 '523k' '921k' '874k' '981k' '784k' '280k' '24k' '518k' '754k' '892k'
 '154k' '860k' '364k' '387k' '626k' '161k' '879k' '39k' '970k' '170k'
 '141k' '160k' '144k' '143k' '190k' '376k' '193k' '246k' '73k' '658k'
 '992k' '253k' '420k' '404k' '470k' '226k' '240k' '89k' '234k' '257k'
 '861k' '467k' '157k' '44k' '676k' '67k' '552k' '885k' '1020k' '582k'
 '619k']

In [1100]:
#Cleaning for installs column
play["Installs"]  = play['Installs'].astype(int)
print(play["Installs"].unique())
play['Installs'].isnull().sum()

[     10000     500000    5000000   50000000     100000      50000
    1000000   10000000       5000  100000000 1000000000       1000
  500000000         50        100        500         10          1
          5          0]

0

In [1101]:
play.loc[play['App']== "Command & Conquer Rivals"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9148,Command & Conquer Rivals,FAMILY,4.4,0,Unavailable,0,NaN,0.0,Everyone 10+,Strategy,28-06-2018,Varies with device,Varies with device

In [1102]:
#Cleaning for type column
print(play["Type"].unique())
play.loc[play['Type']== "nan"]
play.drop(index=9148,inplace=True)

['Free' 'Paid' nan]

In [1103]:
print(play["Type"].unique())#Check nan value again

['Free' 'Paid']

In [1104]:
#Cleaning for price column
#As per the data source details 96% of the values are 0 in this column that means 96% of the apps are free
print(play["Price"].unique())
print(play["Price"].isnull().sum())

[  0.     4.99   3.99   6.99   1.49   2.99   7.99   5.99   3.49   1.99
   9.99   7.49   0.99   9.     5.49  10.    24.99  11.99  79.99  16.99
  14.99   1.    29.99  12.99   2.49  10.99   1.5   19.99  15.99  33.99
  74.99  39.99   3.95   4.49   1.7    8.99   2.     3.88  25.99 399.99
  17.99 400.     3.02   1.76   4.84   4.77   1.61   2.5    1.59   6.49
   1.29   5.    13.99 299.99 379.99  37.99  18.99 389.99  19.9    8.49
   1.75  14.     4.85  46.99 109.99 154.99   3.08   2.59   4.8    1.96
  19.4    3.9    4.59  15.46   3.04   4.29   2.6    3.28   4.6   28.99
   2.95   2.9    1.97 200.    89.99   2.56  30.99   3.61 394.99   1.26
   1.2    1.04]
0

In Genres column there are lot of same categories which need to be updated

In [1105]:
#Cleaning for Genres column
print(play["Genres"].unique())

['Art & Design' 'Art & Design;Pretend Play' 'Art & Design;Creativity'
 'Art & Design;Action & Adventure' 'Auto & Vehicles' 'Beauty'
 'Books & Reference' 'Business' 'Comics' 'Comics;Creativity'
 'Communication' 'Dating' 'Education;Education' 'Education'
 'Education;Creativity' 'Education;Music & Video'
 'Education;Action & Adventure' 'Education;Pretend Play'
 'Education;Brain Games' 'Entertainment' 'Entertainment;Music & Video'
 'Entertainment;Brain Games' 'Entertainment;Creativity' 'Events' 'Finance'
 'Food & Drink' 'Health & Fitness' 'House & Home' 'Libraries & Demo'
 'Lifestyle' 'Lifestyle;Pretend Play' 'Adventure;Action & Adventure'
 'Arcade' 'Casual' 'Card' 'Casual;Pretend Play' 'Action' 'Strategy'
 'Puzzle' 'Sports' 'Music' 'Word' 'Racing' 'Casual;Creativity'
 'Casual;Action & Adventure' 'Simulation' 'Adventure' 'Board' 'Trivia'
 'Role Playing' 'Simulation;Education' 'Action;Action & Adventure'
 'Casual;Brain Games' 'Simulation;Action & Adventure'
 'Educational;Creativity' 'Puzzle;Brain Games' 'Educational;Education'
 'Card;Brain Games' 'Educational;Brain Games' 'Educational;Pretend Play'
 'Entertainment;Education' 'Casual;Education' 'Music;Music & Video'
 'Racing;Action & Adventure' 'Arcade;Pretend Play'
 'Role Playing;Action & Adventure' 'Simulation;Pretend Play'
 'Puzzle;Creativity' 'Sports;Action & Adventure'
 'Educational;Action & Adventure' 'Arcade;Action & Adventure'
 'Entertainment;Action & Adventure' 'Puzzle;Action & Adventure'
 'Strategy;Action & Adventure' 'Music & Audio;Music & Video'
 'Health & Fitness;Education' 'Adventure;Education' 'Board;Brain Games'
 'Board;Action & Adventure' 'Board;Pretend Play' 'Casual;Music & Video'
 'Role Playing;Pretend Play' 'Entertainment;Pretend Play'
 'Video Players & Editors;Creativity' 'Card;Action & Adventure' 'Medical'
 'Social' 'Shopping' 'Photography' 'Travel & Local'
 'Travel & Local;Action & Adventure' 'Tools' 'Tools;Education'
 'Personalization' 'Productivity' 'Parenting' 'Parenting;Music & Video'
 'Parenting;Education' 'Parenting;Brain Games' 'Weather'
 'Video Players & Editors' 'Video Players & Editors;Music & Video'
 'News & Magazines' 'Maps & Navigation'
 'Health & Fitness;Action & Adventure' 'Educational' 'Casino'
 'Adventure;Brain Games' 'Trivia;Education' 'Lifestyle;Education'
 'Books & Reference;Creativity' 'Books & Reference;Education'
 'Puzzle;Education' 'Role Playing;Education' 'Role Playing;Brain Games'
 'Strategy;Education' 'Racing;Pretend Play' 'Communication;Creativity'
 'Strategy;Creativity']

In [1106]:
play["Genres"]=play["Genres"].str.replace("Art & Design;Pretend Play","Art & Design")
play["Genres"]=play["Genres"].str.replace("Art & Design;Creativity","Art & Design")
play["Genres"]=play["Genres"].str.replace("Art & Design;Action & Adventure","Art & Design")
play["Genres"]=play["Genres"].str.replace("Comics;Creativity","Comics")
play["Genres"]=play["Genres"].str.replace("Education;Education","Education")
play["Genres"]=play["Genres"].str.replace("Education;Creativity","Education")
play["Genres"]=play["Genres"].str.replace("Education;Music & Video","Education")
play["Genres"]=play["Genres"].str.replace("Education;Action & Adventure","Education")
play["Genres"]=play["Genres"].str.replace("Education;Pretend Play","Education")
play["Genres"]=play["Genres"].str.replace("Education;Brain Games","Education")
play["Genres"]=play["Genres"].str.replace("Educational;Education","Education")
play["Genres"]=play["Genres"].str.replace("Educational;Brain Games","Education")
play["Genres"]=play["Genres"].str.replace("Educational;Pretend Play","Education")
play["Genres"]=play["Genres"].str.replace("Educational;Action & Adventure","Education")
play["Genres"]=play["Genres"].str.replace("Entertainment;Music & Video","Entertainment")
play["Genres"]=play["Genres"].str.replace("Entertainment;Brain Games","Entertainment")
play["Genres"]=play["Genres"].str.replace("Entertainment;Creativity","Entertainment")
play["Genres"]=play["Genres"].str.replace("Entertainment;Education","Entertainment")
play["Genres"]=play["Genres"].str.replace("Educational","Education")
play["Genres"]=play["Genres"].str.replace("Entertainment;Action & Adventure","Entertainment")

In [1107]:
print(play["Genres"].unique())

['Art & Design' 'Auto & Vehicles' 'Beauty' 'Books & Reference' 'Business'
 'Comics' 'Communication' 'Dating' 'Education' 'Entertainment' 'Events'
 'Finance' 'Food & Drink' 'Health & Fitness' 'House & Home'
 'Libraries & Demo' 'Lifestyle' 'Lifestyle;Pretend Play'
 'Adventure;Action & Adventure' 'Arcade' 'Casual' 'Card'
 'Casual;Pretend Play' 'Action' 'Strategy' 'Puzzle' 'Sports' 'Music'
 'Word' 'Racing' 'Casual;Creativity' 'Casual;Action & Adventure'
 'Simulation' 'Adventure' 'Board' 'Trivia' 'Role Playing'
 'Simulation;Education' 'Action;Action & Adventure' 'Casual;Brain Games'
 'Simulation;Action & Adventure' 'Education;Creativity'
 'Puzzle;Brain Games' 'Card;Brain Games' 'Casual;Education'
 'Music;Music & Video' 'Racing;Action & Adventure' 'Arcade;Pretend Play'
 'Role Playing;Action & Adventure' 'Simulation;Pretend Play'
 'Puzzle;Creativity' 'Sports;Action & Adventure'
 'Arcade;Action & Adventure' 'Puzzle;Action & Adventure'
 'Strategy;Action & Adventure' 'Music & Audio;Music & Video'
 'Health & Fitness;Education' 'Adventure;Education' 'Board;Brain Games'
 'Board;Action & Adventure' 'Board;Pretend Play' 'Casual;Music & Video'
 'Role Playing;Pretend Play' 'Entertainment;Pretend Play'
 'Video Players & Editors;Creativity' 'Card;Action & Adventure' 'Medical'
 'Social' 'Shopping' 'Photography' 'Travel & Local'
 'Travel & Local;Action & Adventure' 'Tools' 'Tools;Education'
 'Personalization' 'Productivity' 'Parenting' 'Parenting;Music & Video'
 'Parenting;Education' 'Parenting;Brain Games' 'Weather'
 'Video Players & Editors' 'Video Players & Editors;Music & Video'
 'News & Magazines' 'Maps & Navigation'
 'Health & Fitness;Action & Adventure' 'Casino' 'Adventure;Brain Games'
 'Trivia;Education' 'Lifestyle;Education' 'Books & Reference;Creativity'
 'Books & Reference;Education' 'Puzzle;Education' 'Role Playing;Education'
 'Role Playing;Brain Games' 'Strategy;Education' 'Racing;Pretend Play'
 'Communication;Creativity' 'Strategy;Creativity']

In [1108]:
#Cleaning for Last Updated column
print(play["Last Updated"].unique())

['07-01-2018' '15-01-2018' '01-08-2018' ... '20-01-2014' '16-02-2014'
 '23-03-2014']

In [1109]:
play["Last Updated"].isnull().sum()

0

In [1110]:
#Cleaning for Current version column
print(play["Current Ver"].unique())

['1.0.0' '2.0.0' '1.2.4' ... '1.0.612928' '0.3.4' '2.0.148.0']

In [1111]:
play.loc[play["Current Ver"]=="Varies with device"]
play["Current Ver"]=play["Current Ver"].str.replace("Varies with device","0")
play["Current Ver"]=play["Current Ver"].str.replace("NaN","0")
play["Current Ver"]=play["Current Ver"].str.replace("closed","0")
play["Current Ver"]=play["Current Ver"].str.replace("BL ONLINE PERSONAL TRAINING 7.9.0","7.9.0")
play["Current Ver"]=play["Current Ver"].str.replace("Rocksteady 1.3","1.3")
play["Current Ver"]=play["Current Ver"].str.replace("MONEY","0")
play["Current Ver"]=play["Current Ver"].str.replace("MONEY","0")
play["Current Ver"]=play["Current Ver"].str.replace("Initial","0")

C:\Users\harsh\AppData\Local\Temp/ipykernel_17564/4267096201.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  play["Current Ver"]=play["Current Ver"].str.replace("BL ONLINE PERSONAL TRAINING 7.9.0","7.9.0")
C:\Users\harsh\AppData\Local\Temp/ipykernel_17564/4267096201.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  play["Current Ver"]=play["Current Ver"].str.replace("Rocksteady 1.3","1.3")

Here,we have converted some of the irrelevant values in to their respective values and in zero

In [1112]:
#lets check replaced data
play["Current Ver"].head(10)

0       1.0.0
1       2.0.0
2       1.2.4
3           0
4         1.1
5           1
6         1.1
7    6.1.61.1
8       2.9.2
9         2.8
Name: Current Ver, dtype: object

In [1113]:
play["Current Ver"].isnull().sum()
play["Current Ver"].isnull()
# Values are already nan in dataset
# play["Current Ver"].replace(["nan"], "NaN", inplace=True)

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838    False
10839    False
10840    False
Name: Current Ver, Length: 10352, dtype: bool

In [1114]:
#Cleaning for Android Ver column
print(play["Android Ver"].unique())
play["Android Ver"].isnull().sum()



#Fill the nan values with previous values
play["Android Ver"].fillna(method="pad",inplace=True)

['4.0.3 and up' '4.2 and up' '4.4 and up' '2.3 and up' '3.0 and up'
 '4.1 and up' '4.0 and up' '2.3.3 and up' 'Varies with device'
 '2.2 and up' '5.0 and up' '6.0 and up' '1.6 and up' '1.5 and up'
 '2.1 and up' '7.0 and up' '5.1 and up' '4.3 and up' '4.0.3 - 7.1.1'
 '2.0 and up' '3.2 and up' '4.4W and up' '7.1 and up' '7.0 - 7.1.1'
 '8.0 and up' '5.0 - 8.0' '3.1 and up' '2.0.1 and up' '4.1 - 7.1.1' nan
 '5.0 - 6.0' '1.0 and up' '2.2 - 7.1.1' '5.0 - 7.1.1']

In [1115]:
#Lets convert Varies with device nan
play["Android Ver"]=play["Android Ver"].str.replace("Varies with device","nan")

In [1116]:
print(play["Android Ver"].unique())

['4.0.3 and up' '4.2 and up' '4.4 and up' '2.3 and up' '3.0 and up'
 '4.1 and up' '4.0 and up' '2.3.3 and up' 'nan' '2.2 and up' '5.0 and up'
 '6.0 and up' '1.6 and up' '1.5 and up' '2.1 and up' '7.0 and up'
 '5.1 and up' '4.3 and up' '4.0.3 - 7.1.1' '2.0 and up' '3.2 and up'
 '4.4W and up' '7.1 and up' '7.0 - 7.1.1' '8.0 and up' '5.0 - 8.0'
 '3.1 and up' '2.0.1 and up' '4.1 - 7.1.1' '5.0 - 6.0' '1.0 and up'
 '2.2 - 7.1.1' '5.0 - 7.1.1']

In [1117]:
#Now lets fill nan values with previous values 
play["Android Ver"].fillna(method="pad",inplace=True)

In [1118]:
#Now lets convert rest of nan values to unavailable
play["Android Ver"]=play["Android Ver"].str.replace("nan","Unavailable")

In [1119]:
play["Android Ver"].isnull().sum()#Chek nan values again

0

In [1120]:
play.to_csv(r'D:\playstore_Live_Project\playstoreliveproj\Cleaned_Playstore_Apps.csv',index=False)